#! /bin/sh

# shellcheck disable=SC1090
. "$(fetchurl "https://raw.githubusercontent.com/paisano-nix/direnv/main/lib" "sha256-IgQhKK7UHL1AfCUntJO2KCaIDJQotRnK2qC4Daxk+wI=")"

export KUBECONFIG=/etc/rancher/k3s/k3s.yaml

# FIXME: system?
nix build .#x86_64-linux.cd.packages.netrc2env && eval "$(result/bin/netrc2env)" && rm result

use envreload //automation/devshells/default
